body {
  margin: 0;
  font-size: 14px;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

main {
  padding: 20px;
}

/* Header Component -- start */

.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
}

.header__theme-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

img[alt="moon icon"] {
  width: 30px;
}

img[alt="moon icon"]:hover {
  cursor: pointer;
}

/* Header Component -- end */

/* Input Component -- start */

.input-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

input[type="text"] {
  padding: 20px 0;
  padding-left: 20%;
  background-image: url("assets/search-outline.svg");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 10% 50%;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-family: "Nunito Sans", sans-serif;
}

input[type="text"]::placeholder {
  color: lightgray;
}

select {
  width: 45%;
  padding: 20px;
  border-radius: 5px;
  border: none;
}

/* Input Component -- end */
