body {
  margin: 0;
  font-size: 14px;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

main {
  padding: 20px;
  background-color: hsl(0, 0%, 99%);
}

/* Header Component -- start */

.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
}

.header__theme-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

img[alt="moon icon"] {
  width: 20px;
}

img[alt="moon icon"]:hover {
  cursor: pointer;
}

/* Header Component -- end */

/* Input Component -- start */

.input-container {
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin-bottom: 50px;
}

input[type="text"] {
  padding: 20px 0;
  padding-left: 20%;
  background-image: url("assets/search-outline.svg");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 10% 50%;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-family: "Nunito Sans", sans-serif;
}

input[type="text"]::placeholder {
  color: lightgray;
}

select {
  width: 50%;
  padding: 20px;
  border-radius: 5px;
  border: none;
  background-color: hsl(0, 100%, 100%);
}

/* Input Component -- end */

/* CountryList Component -- start */

.country-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 40px;
}

/* CountryList Component -- end */

/* Country Component -- start */

.country {
  border-radius: 10px;
  border: 1px solid hsl(0, 0%, 97%);
  box-shadow: 5px 5px 15px 10px hsl(0, 0%, 97%);
}

.country-container {
  height: 250px;
}

img[alt="country-flag"] {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.country-info {
  padding: 30px 20px 60px 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  line-height: 1.75;
}

.country-info .country-info__name {
  margin-bottom: 15px;
}

.country__text {
  font-weight: 300;
}

/* Country Component -- end */
